{% load static %}}

<div class="row g-5 pt-5">
  <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
    <div
      class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight"
    >
      HIA PORTAL
    </div>
    <h1 class="display-4 text-white mb-4 animated slideInRight">
      Health Impact Assessment
    </h1>
    <p class="text-white mb-4 animated slideInRight">
      การคาดการณ์ถึงผลกระทบที่อาจเกิดขึ้นจากนโยบาย แผนงานและโครงการ
      ที่มีต่อสุขภาพอนามัยของประชาชน ทั้งทางลบ ทางบวก
      และความเป็นธรรมจากการได้รับผลกระทบจากนโยบายสาธารณะดังกล่าว
      โดยประยุกต์ใช้เครื่องมือที่หลากหลายและมีกระบวนการมีส่วนร่วมอย่างเหมาะสม
      เพื่อสนับสนุนและเสนอต่อกลไกที่เกี่ยวข้องในการตัดสินใจที่จะเป็นผลดีต่อสุขภาพของประชาชนทั้งในระยะสั้นและระยะยาว
    </p>
    {% comment %} <a
      href=""
      class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight"
      >Read More</a
    >
    <a
      href=""
      class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
      >Contact Us</a {% endcomment %}
    >
  </div>
  {% comment %} <div class="col-lg-6 align-self-end text-center text-lg-end">
    <img
      class="img-fluid"
      src="{% static 'assets/img/hero-img.png' %}"
      alt=""
    />
  </div> {% endcomment %}
</div>

