{% extends "helpdesk/public_base.html" %}
{% load i18n %}

{% comment %} {% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %} {% endcomment %}

{% comment %} {% block helpdesk_breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:home' %}">Public</a>
    </li>
    <li class="breadcrumb-item active">Create Ticket</li>
{% endblock %} {% endcomment %}

{% block helpdesk_body %}
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <h4 class="card-header">{% trans "แบบฟอร์มขอคำปรึกษา" %}</h4>
            <div class="card-body">
                {% include 'helpdesk/public_create_ticket_base.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block helpdesk_js %}
    {{ form.media.js }}
{% endblock %}
