{% extends 'index.html'%}
{% load i18n %}
{% load static menu_tags%}
{% load load_helpdesk_settings %}
{% with request|load_helpdesk_settings as helpdesk_settings %}

{% block content %}

<body id="bg-dark">

    {% comment %} {% include "helpdesk/navigation-header.html" %} {% endcomment %}

    <div id="wrapper">
        {% comment %} {% include "helpdesk/navigation-sidebar.html" %} {% endcomment %}

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                {% comment %} <ol class="breadcrumb">
                    {% block helpdesk_breadcrumb %}{% endblock %}
                </ol> {% endcomment %}

                {% block helpdesk_body %}{% endblock %}

            </div>
            <!-- /.container-fluid -->

            {% comment %} {% include "helpdesk/attribution.html" %} {% endcomment %}
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include "helpdesk/debug.html" %}

    {% include 'helpdesk/base_js.html' %}
    {% block helpdesk_js %}{% endblock %}
</body>
{% endblock content%} 

{% endwith %}
